body{
  
    background: url(https://img.freepik.com/free-vector/line-style-hand-drawn-abstract-botanical-flower-wedding-banner_1017-44705.jpg) no-repeat center fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
